@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Keyboard&display=swap');
@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.libertinus-key {
    font-family: "Libertinus Keyboard", system-ui;
}

.menu-link {
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
    font-size: 1.2rem;
}

.t-bg {
    transition: background 300ms ease-in-out;
}

.quill-wrapper .ql-toolbar {
  border-radius: 8px 8px 0 0;
  border-color: #e5e7eb; /* tailwind gray-200 */
}

.quill-wrapper .ql-container {
  border-radius: 0 0 8px 8px;
  border-color: #e5e7eb;
  min-height: 300px;
  font-size: 16px;
}

.special-content-div  p {
    word-break: keep-all;
}

.special-content-div h1, h2, h2, h4, h5 {
    word-break: keep-all;
    margin-top: 10px;
}